* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

:root {
    --mainFont: "Roboto Condensed", sans-serif;
    --lightColor: #d2e2f7;
    --fontColor: #0d2b52;
    --darkColor: #0F2D69;
    --backgroundColor: #d2e2f770;
}

body {
    margin: 0;
    font-family: var(--mainFont);
    background-color: var(--backgroundColor);
    color: var(--fontColor);
    padding: 5px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--darkColor);
    color: var(--lightColor);
}

.nav__items {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav__item {
    padding: 10px;
    border-left: 1px solid #ffffff6e;
    transition: background-color .4s;
    cursor: pointer;
    text-transform: lowercase;

    &:hover {
        background-color: #fff;
        opacity: .5;
        color: #000;
    }
}

.nav__item:last-child {
    border-right: 1px solid #ffffff6e;
}

.title {
    font-family: var(--mainFont);
    font-size: 36px;
    line-height: normal;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.header__list {
    padding: 10px 10px 10px 30px;
    font-size: 18px;
    line-height: normal;
    font-weight: 400;
}

.header__item {
    padding: 5px 0;
}

.section {
    margin-bottom: 20px;
}

.instruction {
    opacity: 1;
    height: 100%;
}

.subTitle {
    text-align: center;
    font-size: 23px;
    color: #5f4b0b;
    margin: 10px 0;
}

.task {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    border: 3px solid #ad9545;
    border-radius: 10px;
    background-color: beige;
    font-size: 20px;
}

.task1__upBlock {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-weight: 700;
    text-align: center;
}

.task1__downBlock {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.equation {
    position: relative;
    display: flex;
    column-gap: 5px;
    align-items: center;
    font-weight: 700;
    padding: 15px;
}

.equation__block {
    text-align: center;
}

.equation__block>p:first-child {
    border-bottom: 1px solid #000;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    padding: 10px 20px;
    border: 1px solid #ad9545;
    border-radius: 10px;
    width: 240px;
    font-size: 18px;
    letter-spacing: 2px;
    background-color: #fff;
}

.card__title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.card__items {
    display: flex;
    flex-direction: column;
    row-gap: 13px;
}

.card__item {
    position: relative;
    margin-left: 20px;
    padding-bottom: 2px;
}

.card__item:not(:last-child) {
    border-bottom: 1px solid #ad9545;
}

.card-content,
.card__title--counter {
    display: inline-block;
}

.card__item-decor {
    position: absolute;
    top: -7px;
    font-size: 10px;
    transform: translateX(-8px);
}

.task2__group {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    flex-wrap: wrap;
}

.task2__items {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    letter-spacing: 1px;
    width: 100%;
    margin-left: 20px;
}

.task2__item {
    padding: 10px;
    border: 1px solid #77611857;
    background-color: #fff;
    border-radius: 5px;
}

.task2__item--flex {
    display: flex;
    flex-direction: column;
}

.task2__item--flex>p:first-child {
    position: relative;
    padding: 5px 0 5px 5px;
    border-bottom: 1px solid #5f4b0b;
}

.task2__item--flex>p:last-child {
    position: relative;
    padding: 5px 0 5px 5px;
}

.task2__item--degree {
    position: absolute;
    font-size: 12px;
    transform: translateX(-5px);
}

.visible {
    display: none;
}

.rotate-right {
    transform-origin: 50% 50%;
    transform: rotate(-90deg)
}

.task2__result {
    max-width: 1000px;
    margin: 0 auto;
}

.task2__result-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    column-gap: 5px;
    list-style: none;
    text-align: center;
    counter-reset: example 0;
}

.task2__result-item {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 100px;
    padding: 30px 5px 5px 5px;
    justify-content: center;
    border: 1px solid #5f4b0b;
    min-height: 100px;
    font-size: 16px;
    letter-spacing: 1px;
    counter-increment: example 1;

    &::before {
        position: absolute;
        content: counter(example);
        top: 0;
        width: 100%;
        left: 50%;
        font-size: 18px;
        border: none;
        transform: translateX(-50%);
        background: #F0EAD6;
        background: var(--darkColor);
        padding-bottom: 5px;
        color: #fff;
        font-weight: 700;
    }
}

.task3__wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.task3__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 5px;
    padding: 10px;
    border: 1px solid #5f4b0b;
    background-color: #F0EAD6;
    width: 100%;
}

.task3__item-title {
    text-align: center;
}

.task3__img {
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 230px;
}

.task3__img--small {
    display: flex;
    max-width: 115px;
}

.task3__subItems {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.task3__subItem {
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 10px;
    letter-spacing: 1px;
    border: 1px solid #d2e2f7;
    background-color: #fff;
    margin-left: 30px;
    box-shadow: inset 5px 6px 9px -9px rgba(66, 68, 90, 1);
}

@media (width > 630px){
    .task2__group {
        flex-wrap: nowrap;
    }

    .task3__item {
        width: 300px;
    }
}